<style>
    #canvas-logo{
        width:100%;
        background:white;
        border: 0.5px;
        height:100px;
        border: 1px;
        border-color: #ccc;
        border-style: solid;
        border-radius: 2px 2px 2px 2px;
        padding-top: 20px;
        padding-top: 30px;
        padding-left: 30px;
        margin-top: 5px;
    }
</style>
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'/>
<link href='http://fonts.googleapis.com/css?family=Alegreya+SC' rel='stylesheet' type='text/css'/>

<!--<div style="background:#E5E4E2;padding:5px;margin:6px;text-align:center;font-family: 'Alegreya SC', serif;font-size:15px;height:95%"><h1 style="font-size:15px;margin:4px">-->

<!--</h1>-->

<div class="row">
    
    <div class="col-md-3">.</div>
    <div class="col-md-6">
         
  
  <div class="borde-secciones-submenu">
        
        
        <div class="row">
            <div class="col-xs-8" style="text-align: center;">
                <input type="text" id="words" class="form-control"  ng-keyup="myFunction()" placeholder="Ingrese un nombre del logo.."></input>
            </div>
            <div class="col-xs-4" style="text-align: center;">
                <button type="button" ng-click = "uploadGeneratedLogo()"  class="btn btn-success" style="width:100%;"><span class="glyphicon glyphicon-cloud-upload"></span>
                Subir</button>
            </div>
        </div>
        
        
        <div class="row">
            <div class="col-md-12">
                <canvas id="canvas-logo"  ></canvas>
            </div>
        </div>
      </div>
       
    </div>
<!--         <div class="col-md-6">

              <h1>Subir Logo</h1>
              <input type = "file" file-model = "myFile"/>
              <button ng-click = "uploadFile()">upload me</button>
    </div>-->
   
</div>

<script>


function ClearCanvas() {
var c=document.getElementById("canvas-logo");
var ctx=c.getContext("2d");
ctx.clearRect(0,0,200,100);
}

function Preview() {
var canvas  = document.getElementById("canvas-logo");
var dataUrl = canvas.toDataURL();

window.open(dataUrl, "toDataURL() image", "width=600, height=200");
}
</script>
 
    